body {
    background-color: rgb(235, 244, 248);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(20, 76, 88);
    text-align: center;
    font-weight: bold;
}

#top {
    color: rgb(18, 66, 68);
}

.fancy {
    color: rgb(20, 76, 88);
    text-decoration: underline;
}

.ugly {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: rgb(12, 59, 70);
    text-align: left;
    font-style: italic;
    text-decoration: underline;
}

h3, h4, h5, h6 {
    color: rgb(16, 59, 57);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(28, 52, 60);
    line-height: 1.4;
}

.common {
    background-color: rgb(255, 245, 224);
    border: 2px solid white;
    position: absolute;
    padding: 10px;
}

.header {
    top: 5px;
    left: 15px;
    right: 25px;
    height: 80px;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(255, 233, 205);
    color: rgb(16, 59, 57);
    font-weight: bold;
}

.left {
    top: 115px;
    left: 15px;
    width: 120px;
    bottom: 40px;
    background-color: rgb(255, 236, 211);
}

.right {
    top: 115px;
    right: 25px;
    width: 120px;
    bottom: 40px;
    background-color: rgb(255, 236, 211);
}

.main {
    top: 115px;
    left: 150px;
    right: 160px;
    padding: 20px;
    background-color: rgb(255, 248, 235);
}

.footer {
    bottom: 5px;
    height: 25px;
    left: 15px;
    right: 5px;
    position: fixed;
    background-color: rgb(255, 233, 205);
    text-align: center;
    padding-top: 5px;
    z-index: 1;
    color: rgb(16, 59, 57);
    font-weight: bold;
}
